*,
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #f1dec6;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

h1 {
  color: #4158a6;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-shadow: 2px 2px #179bae;
  font-size: 4rem;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 6rem;
}

/* button containers */
.button-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.settings-button {
  background-color: #4158a6;
  color: white;
  border-radius: 1.5rem;
  border: 0.25rem solid #179bae;
  height: 5rem;
  width: 8rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.75rem;
}

.sketch-container {
  height: 500px;
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1.15rem solid #4158a6;
  outline: 0.4rem solid #179bae;
  border-radius: 1.5rem;
}

.row {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.column {
  flex-grow: 1;
}

#color-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3px;
}

#color-picker {
  background-color: #179bae;
  border: none;
  border-radius: 10%;
  padding: 0px;
  width: 45px;
  height: 20px;
  margin-top: 2px;
}
