*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #f1dec6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  height: 500px;
  width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 20px solid #ff8343;
  outline: 1px solid #4158a6;
  border-radius: 20px;
  margin-top: 20px;
}

.row {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.column {
  flex-grow: 1;
}

#reset-button {
  background-color: #ff8343;
  color: white;
  border-radius: 5px;
  border: 1px solid #4158a6;
  height: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
